.home {
    background-color: #040340;
    height: 800px;
    width: 1350px;
    margin-bottom: 20px;
    margin-left: -7px;
}

.head {
    height: 30px;
    float: left;
    padding: 0px;
    /* top | right | bottom | left */
    margin: 20px 0px 0px 0px;
}

.pic1 {
    width: 200px;
    height: 50px;
    margin: 0px 0px 0px 80px;
    float: left;
}

.list,
#sub-navigator li {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: -5px 25px 10px -10px;
    padding-right: 40px;
    float: left;
    text-align: center;
    list-style-type: none;
}

li:hover {
    color: #4B95ED;
}

main h1,
main h2,
main h3 {
    letter-spacing: .5px;
    color: #0d2366;
    margin-bottom: 6px;
}

.india-flag {
    width: 28px;
    height: 20px;
    background: url("images/india-flag.svg") no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* top | right | bottom | left */
    margin: 0px -50px 0px 55px;
}

.india-flag:hover:before {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    bottom: -10px;
    left: 6px;
    border-bottom-color: rgba(0, 0, 0, 0.6);
}

.india-flag:hover:after {
    pointer-events: none;
    position: absolute;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 20px;
    border-radius: 4px;
    content: 'Razorpay is currently available only for Indian businesses';
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    left: -100px;
    top: 100%;
    margin-top: 10px;
}

.right {
    float: right;
}

.login-item {
    padding-top: 0;
    padding-bottom: 0;
    /* margin:  0px 0px 0px -15px; */
}

.login-link {
    display: block;
    padding: 9px 21px;
    cursor: pointer;
    color: #fff;
    background: rgba(11, 112, 231, 0.1);
    border: 1px solid #2b83ea;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    margin: -15px -15px 0px 5px;
}

.signup {
    background-color: white;
    height: 40px;
    float: left;
    width: 120px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #6290D9;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    margin: -21px -15px 20px -40px;
}

#arrow {
    margin: -5px 0px;
}

.head-left {
    height: 350px;
    width: 550px;
    float: left;
    margin: 100px 0px 0px 70px;
}

.head-line {
    text-align: start;
    color: white;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.linecode {
    height: 5px;
    width: 40px;
    background-color: #58C19C;
    float: left;
    margin: 10px 0px 0px 0px;
}

#razorpaypara1 {
    color: #FFFFFFB3;
    font-size: 18px;
    line-height: 28px;
    font-family: Muli, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: left;
    margin: 50px 0px 0px 0px;
    width: 348px;
}

#razorpaypara1 br {
    display: none;
}

.signup2 {
    font-size: 16px;
    font-family: Muli, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    width: 130px;
    height: 53px;
    color: white;
    background-color: #0a6feb;
    margin: 30px -348px 0px 0px;
    border-radius: 5px;
}

#signup2 {
    color: white;
    font-size: 17px;
    margin-right: -10px;
    text-decoration: none;
}

.head-right {
    /* height: 400px;
    width: 370px; */
    /* float: left; */
    margin: 21px 0px 0px 300px;
}

#mainimage {
    width: 700px;
    height: 600px;
    /* margin: 21px 0px 0px 300px; */
}


/* -------------------------------------------------------------- */

#main-content {
    z-index: 2;
    position: relative;
}

#pg {
    padding-top: 0px;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#linecode {
    height: 5px;
    width: 40px;
    background-color: #58C19C;
    float: left;
    margin: 0px 0px 0px 523px;
}

#home #pg .pre-info {
    position: relative;
    margin: 80px, 0px, 0px, 0px;
    border-radius: 6px;
    padding: 40px 40px 180px 40px;
    background: url("images/pg-graphic.png") no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 69%;
    background-color: #fff;
    border: 1px solid rgba(4, 9, 63, 0.05);
}

#home .dotted-bg:before {
    height: 167px;
    width: 275px;
    content: '';
    background-image: url("images/dotted-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    top: -107px;
    right: 0px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#home #pg .pre-info .title {
    font-size: 28px;
    line-height: 150%;
    max-width: 510px;
    color: #132763;
    font-weight: bold;
}

#home #pg .pre-info .title span {
    color: #3281ff;
}

#home #pg .pre-info ul.list1 {
    display: inline-block;
    margin-top: 41px;
    margin-bottom: 0;
    color: rgba(13, 36, 98, 0.8);
    font-size: 16px;
    line-height: 200%;
}

#home #pg .pre-info ul.list1 li {
    margin: 0;
    padding-left: 10px;
    font-family: Muli, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#home #pg .pre-info ul.list1 li:before {
    top: 4px;
    border-color: #75d7b7;
    width: 4px;
    height: 11px;
    margin-left: -36px;
}

.signupnow {
    background-color: #2783f3;
    height: 50px;
    float: left;
    width: 160px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    margin: 40px 0px 0px 50px;
    /* margin: 0px 0px 0px 50px; */
}

.btn {
    border: none;
    background-color: white;
    color: #2783f3;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: 42px 0px 0px 16px;
}

.check {
    display: inline-block;
    /* transform: rotate(45deg); */
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}

#tick {
    font-family: Muli, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding-left: 5px;
    line-height: 35px;
}

.section2buttons {
    list-style-type: none;
}